blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

/* We edited below this. */
body {
    max-width: 960px;
    padding-top:40px;
    margin:auto;
/*    text-align:center;*/
    vertical-align: middle;
}
#external-links {
    width: 20%;
    margin: auto;
    min-width: 150px;
}
main {
    min-width: 30%;
    width: 60%;
}
.inner {
    display: inline-block;
    vertical-align: top;
}

/*@media screen and (max-width: 500px) {*/
  
@media screen and (max-width: 500px) {
    .inner {
        width: 100%;
  }
    #external-links {
        width: 100%;
    }
}
@media screen and (max-width: 300px) {
    body {
        font-size: .8em;
    }
}
